body {
  background: #c499b6;
  font-family: "Roboto", sans-serif;
}

a {
  color: #c499b6;
}

.container-box {
  background-color: #fff7f3;
  max-width: 80%;
  margin: 30px auto;
  padding: 30px;
  border-radius: 6px;
}

hr {
  margin: 30px auto;
  height: 0.5px;
  background-color: #c499b6;
  border: none;
}

.city-search-form {
  text-align: center;
}

.city-input {
  width: 70%;
  padding: 10px 5px;
  border-radius: 5px;
  border: none;
  background-color: #fff7f3;
  font-size: 17px;
  border: 1px solid #c499b6;
}

.city-search-botton {
  width: 20%;
  padding: 10px 5px;
  border-radius: 5px;
  border: none;
  background-color: #590b3f;
  font-size: 17px;
  color: #fff7f3;
  border: 1px solid #590b3f;
  font-weight: bold;
  margin-left: 5px;
}

.search-output-container {
  display: flex;
  justify-content: space-between;
}

.city-result {
  font-size: 40px;
  margin: 0 0 20px 0;
  color: #590b3f;
}

.weather-data {
  color: rgba(39, 33, 66, 0.4);
  line-height: 25px;
}
.weather-data strong {
  color: #590b3f;
}

.weather-temperature {
  color: #590b3f;
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
}

.temperature-icon {
  width: 80px;
  margin-right: 5px;
}

.temperature-number {
  font-size: 50px;
  font-weight: bolder;
  margin-top: 10px;
  margin-right: 5px;
}

.temperature-metrics {
  font-size: 20px;
  margin-top: 16px;
}

.forecast-container {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.forecast-container-day {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  margin-top: 20px;
}

.forecast-container-icon {
  text-align: center;
  font-size: 30px;
}

.forecast-container-temperatures {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  margin-top: 10px;
  color: #590b3f;
  display: flex;
  justify-content: center;
}

.forecast-container-temperature-max {
  font-weight: bold;
  margin-right: 10px;
}

footer {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  text-align: center;
}
